* {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 24px ; text-align: center; color:#5d0cff}
form { margin-bottom: 20px }
i { font-style: normal }


.task {
  color: #616161;
  padding: 20px;
  border-left: 50px solid #eee;
}
.task:hover {
  cursor: pointer;
  opacity: .64;
}
.task p:last-child { margin-bottom: 0 }
.task+.task { margin-top: -5px }
.task-success {
  background-color: #E8F5E9;
  border-left-color: #4CAF50;
  text-decoration: line-through;
  font-style: italic;
}
.task-info {
  background-color: #E1F5FE;
  border-left-color: #03A9F4;
}

.form-control {
  padding: 16px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color:#5d0cff;
  
}

.btn-default {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}